.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secundary-color);
  border-radius: 8px;
  padding: 41px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card img {
  margin-bottom: 24px;
}

.categories-cards .card.single-line {
  padding: 40px;
}

.categories-cards .card.single-line.transfer h3 {
  margin: 30px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
