.destination-items .item header {
  background-color: transparent;
  display: block;
  position: static;
  padding: 0;
}

.destination-items {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin: 0 auto;
  gap: 40px;
}

.item.tokyo .img-item {
  background-image: url(../img/tokyo-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 312px;
  height: 360px;
}

.item.osaka .img-item {
  background-image: url(../img/osaka-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 312px;
  height: 360px;
}

.item h3 {
  margin: 24px 0 24px;
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.item .button {
  width: 312px;
  font-size: 20px;
  font-weight: var(--title-weight);
  text-align: center;
}

.blog.destinations .tokyo-blog {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.blog.destinations .tokyo-blog article {
  margin: 0 auto;
  width: 312px;
}

.blog.destinations .tokyo-blog article p {
  margin-top: 24px;
}

.blog.destinations .tokyo-blog article small {
  margin-top: 8px;
  font-size: 14px;
  font-weight: var(--text-weight);
}

.tokyo-blog .img-blog1 {
  background-image: url(../img/Tokyo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  width: 100%;
  margin-top: 32px;
}

.tokyo-blog .img-blog2 {
  background-image: url(../img/Tokyo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  margin-top: 32px;
}

.blog.others-destinations .img-item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.blog.others-destinations .item.osaka .img-item {
  background-image: url(../img/Osaka\ \(3\).jpg);
}

.blog.others-destinations .item.hiroshima .img-item {
  background-image: url(../img/Hiroshima.jpg);
}

.blog.others-destinations .item.kyoto .img-item {
  background-image: url(../img/Kyoto.jpg);
}

.blog.footer-container {
  margin-top: 88px;
}

@media screen and (min-width: 768px) {
  .destination-items {
    width: 648px;
  }

  .item.tokyo .img-item {
    background-image: url(../img/tokyo);
    width: 648px;
    height: 452px;
  }

  .item.osaka .img-item {
    background-image: url(../img/osaka-desktop.jpg);
    width: 648px;
    height: 452px;
  }

  .item .button {
    width: 280px;
  }
  .blog.destinations .tokyo-blog article {
    margin: 0 auto;
    width: 648px;
  }

  .blog.destinations .tokyo-blog .chegada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .tokyo-blog .img-blog1 {
    background-image: url(../img/Tokyo\ 5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  }

  .tokyo-blog .img-blog2 {
    background-image: url(../img/Tokyo\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .blog.others-destinations .item.osaka .img-item {
    background-image: url(../img/Osaka\ \(4\).jpg);
  }

  .blog.others-destinations .item.hiroshima .img-item {
    background-image: url(../img/Hiroshima\ \(1\).jpg);
  }

  .blog.others-destinations .item.kyoto .img-item {
    background-image: url(../img/Kyoto\ \(1\).jpg);
  }

  .blog.footer-container {
    margin-top: 104px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .destination-items .item {
    width: 588px;
  }

  .item.tokyo .img-item {
    background-image: url(../img/tokyo-desktop.jpg);
    width: 588px;
    height: 452px;
  }

  .item.osaka .img-item {
    background-image: url(../img/osaka-desktop.jpg);
    width: 588px;
    height: 452px;
  }

  .blog.destinations .tokyo-blog article {
    margin: 0 auto;
    width: 1200px;
  }

  .tokyo-blog .img-blog1 {
    background-image: url(../img/Tokyo\ \(3\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tokyo-blog .img-blog2 {
    background-image: url(../img/Tokyo\ 6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .blog.others-destinations .item.osaka .img-item {
    background-image: url(../img/Osaka\ \(3\).jpg);
    width: 384px;
    height: 300px;
  }

  .blog.others-destinations .item.hiroshima .img-item {
    background-image: url(../img/Hiroshima.jpg);
    width: 384px;
    height: 300px;
  }

  .blog.others-destinations .item.kyoto .img-item {
    background-image: url(../img/Kyoto\ \(2\).jpg);
    width: 384px;
    height: 300px;
  }

  .blog.others-destinations .destination-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 120px;
    gap: 24px;
  }

  .blog.others-destinations .destination-items .item {
    width: 384px;
  }
}
