.form {
  margin: 0 auto;
  width: 312px;
}

.form fieldset {
  border: none;
  padding: 0;
}

.form p {
  font-size: 16px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 28px;
  margin-bottom: 56px;
}

.form input {
  width: 100%;
  border: none;
  border-bottom: 3px solid #d9d9d9;
  padding: 0 0 8px;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  outline: none;
  color: #8c8c8c;
  margin-bottom: 64px;
}

.form textarea {
  width: 100%;
  height: 90px;
  border: 2px solid #d9d9d9;
  padding: 8px 0;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  border-radius: 8px;
  outline: none;
  margin-bottom: 32px;
}

input::placeholder,
textarea::placeholder {
  color: #8c8c8c;
}

.form input:focus,
.form textarea:focus {
  border-bottom: 3px solid var(--secundary-color);
}

.form label {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  color: #8c8c8c;
  padding: 8px 0;
}

.form .button {
  width: 100%;
  margin: 0 auto;
  border: none;
}

@media screen and (min-width: 768px) {
  .form {
    width: 648px;
  }

  .form p {
    font-size: 20px;
    font-weight: var(--text-weight);
    text-align: center;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 1200px;
  }

  .form .form-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
