@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-weight: var(--title-weight);
  font-size: 28px;
  text-align: center;
  margin-top: 88px;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  border-radius: 8px;
  color: var(--text-secundary-color);
  background-color: var(--secundary-color);
  font-size: 20px;
  font-weight: var(--title-weight);
  text-decoration: none;
  line-height: 64px;
}

@media screen and (max-width: 425px) {
  .section-title {
    width: 312px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .section-title h2 {
    margin-top: 104px;
  }

  .section-title hr {
    margin-bottom: 64px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}
