header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  display: none;
}
