.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h2 {
  padding: 88px 24px 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.travel-packages.hero .hero-img {
  height: 460px;
  width: 100%;
  background-image: url(../img/hero-image-travel-package-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 24px;
}

.travel-packages.hero .hero-img h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--background-primary-color);
}

.travel-packages.hero .hero-img hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packages.hero .hero-img h2 {
  padding: 0;
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--background-primary-color);
  line-height: 32px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 60px 0;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 104px 120px 0;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 104px 160px 0;
  }
}
