.card {
  color: var(--text-secundary-color);
  background-color: black;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.card header {
  background-color: transparent;
  display: block;
  position: static;
  padding: 0;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header h3 span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
    padding: 24px 32px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header h3 span {
    font-size: 40px;
  }
}
