.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .card {
  color: var(--text-secundary-color);
  background-color: black;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .card header {
  background-color: transparent;
  display: block;
  position: static;
  padding: 0;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.offers-cards .card header h3 span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.offers-cards .card.japao {
  background-image: url(../img/card-imagem-japao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.offers-cards .card.san-andreas {
  background-image: url(../img/card-imagem-san-andreas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.offers-cards .card.paraiba {
  background-image: url(../img/card-imagem-paraiba.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.offers-cards .card.manaus {
  background-image: url(../img/card-imagem-manaus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards.card {
    width: 420px;
    height: 308px;
    padding: 24px 32px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header h3 span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
